---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.astro";
import Skills from "../sections/Skills.astro";
---

<Layout title="CLStudio | Desarrollo de Software">
	<main>
		<Hero />
		<slot />
		<hr class="text-white text-opacity-25 w-11/12 mx-auto" />
		<slot />
		<Skills />
		<slot />
	</main>
</Layout>
