---
import Badge from "./Badge.astro";
---

<section class="flex flex-row justify-around gap-x-56 pr-56 mt-12">
    <!--Freelance -->
    <article
        onclick="window.open('https://github.com/CLStudioES', '_blank')"
        class="overflow-y-auto max-h-[75vh] group cursor-pointer select-none h-auto w-1/2 px-12 flex flex-col my-auto border border-subtitle-text rounded-lg glowRectangleLite bg-white/40 backdrop-blur-xl py-12 font-extralight text-title-text hover:scale-105 transition-transform duration-200"
    >
        <header class="flex flex-col justify-start">
            <h2
                class="font-bold text-xl flex flex-row text-title-text group-hover:text-clstudio-pink transition-all duration-200"
            >
                Desarrollador Web Freelance - CLStudio
                <span
                    ><img
                        src="/img/icons/arrowLink.svg"
                        class="group-hover:animate-sway transition-transform duration-200 pl-2 h-6"
                    /></span
                >
            </h2>
            <p class="font-medium text-subtitle-text text-lg mt-4">
                Madrid, España | 2018 - 2021
            </p>
        </header>
        <body class="flex flex-col justify-start">
            <p class="font-extralight text-lg text-body-text-lighty mt-4">
                Durante mi etapa como <span
                    class="font-semibold text-clstudio-pink"
                    >desarrollador web freelance</span
                >, exploré un viaje tecnológico centrado en desarrollo <span
                    class="font-semibold text-clstudio-pink">FullStack</span
                > con <span class="font-semibold text-clstudio-pink">HTML</span
                >,
                <span class="font-semibold text-clstudio-pink">CSS</span>, <span
                    class="font-semibold text-clstudio-pink">MySQL</span
                > y <span
                    class="font-semibold text-clstudio-pink whiteBorderText"
                    >PHP</span
                >.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Para el frontend, usé <span
                    class="font-semibold text-clstudio-pink">Bootstrap</span
                >, <span class="font-semibold text-clstudio-pink">HTML</span> y <span
                    class="font-semibold text-clstudio-pink">CSS</span
                > para crear interfaces atractivas y responsivas, lo que me permitió
                conocer el mundo del <span
                    class="font-semibold text-clstudio-pink">UX/UI</span
                >. El uso de servidores locales como <span
                    class="font-semibold text-clstudio-pink">XAMPP</span
                > y
                <span class="font-semibold text-clstudio-pink">WAMP</span> facilitó
                las pruebas de aplicaciones antes de su lanzamiento.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                En resumen, mi experiencia como desarrollador web fue un <span
                    class="font-semibold text-clstudio-pink"
                    >periodo de crecimiento</span
                > y de trabajar con nuevas tecnologías, herramientas y Frameworks,
                lo que me permitió avanzar como desarrollador. Además, tuve la ocasión
                de trabajar con varios clientes lo que me permitió ampliar mis conocimientos
                sobre la
                <span class="font-semibold text-clstudio-pink"
                    >relación desarrollador-usuario</span
                >.
            </p>
            <footer class="flex flex-row justify-start mt-8">
                <Badge title="Fullstack" iconURL="/img/Badges/fullstack.svg" />
                <Badge title="PHP" iconURL="/img/Badges/php.svg" />
                <Badge title="Bootstrap" iconURL="/img/Badges/bootstrap.svg" />
                <Badge title="Mysql" iconURL="/img/Badges/mysql.svg" />
            </footer>
        </body>
    </article>
    <!--Telefónica 42 -->
    <article
        onclick="window.open('https://www.42madrid.com/', '_blank')"
        class="overflow-y-auto max-h-[60vh] group cursor-pointer select-none h-auto w-1/2 px-12 flex flex-col my-auto border border-subtitle-text rounded-lg glowRectangleLite bg-white/40 backdrop-blur-xl py-12 font-extralight text-title-text hover:scale-105 transition-transform duration-200"
    >
        <header class="flex flex-col justify-start">
            <h2
                class="font-bold text-base lg:text-xl flex flex-row text-title-text group-hover:text-clstudio-pink transition-all duration-200"
            >
                Estudiante Campus 42 Madrid - Fundación Telefónica
                <span
                    ><img
                        src="/img/icons/arrowLink.svg"
                        class="group-hover:animate-sway transition-transform duration-200 pl-2 h-6"
                    /></span
                >
            </h2>
            <p class="font-medium text-subtitle-text text-lg mt-4">
                Madrid, España | 2021 - 2024
            </p>
        </header>
        <body class="flex flex-col justify-start overflow-y-scroll">
            <p class="font-extralight text-lg text-body-text-lighty mt-4">
                En 42 Madrid, experimenté un cambio significativo en mi
                comprensión del <span class="font-semibold text-clstudio-pink"
                    >trabajo en equipo</span
                > y el <span class="font-semibold text-clstudio-pink"
                    >aprendizaje colaborativo</span
                >. Desde el inicio, entendí que la colaboración y la
                autodisciplina eran clave para el éxito.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                La <span class="font-semibold text-clstudio-pink"
                    >programación de sistemas empotrados</span
                > fue uno de los aspectos más emocionantes de mi formación, donde
                profundicé en el lenguaje <span
                    class="font-semibold text-clstudio-pink">C</span
                > y sus complejidades. También tuve la ocasión de trabajar con <span
                    class="font-semibold text-clstudio-pink">Bash</span
                >, <span class="font-semibold text-clstudio-pink">Docker</span>, <span
                    class="font-semibold text-clstudio-pink">Cubernetes</span
                >, <span class="font-semibold text-clstudio-pink">GIT</span
                >...etc.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Tuve la suerte de poder <span
                    class="font-semibold text-clstudio-pink">organizar</span
                > junto a otros compañeros una
                <span class="font-semibold text-clstudio-pink">GameJam</span>,
                siendo 42 Madrid sede de la GGJ. Además, para introducir a otros
                estudiantes a <span class="font-semibold text-clstudio-pink"
                    >Unity</span
                >, pude impartir un simposio de programación de videojuegos.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Estoy agradecido por las experiencias y compañeros que hicieron
                de este viaje algo
                <span class="font-semibold text-clstudio-pink">inolvidable</span
                >.
            </p>
            <footer class="flex flex-row justify-start mt-8">
                <Badge
                    title="Colaboración"
                    iconURL="/img/Badges/collaboration.svg"
                />
                <Badge title="C" iconURL="/img/Badges/code.svg" />
                <Badge title="Bash" iconURL="/img/Badges/terminal.svg" />
                <Badge title="Docker" iconURL="/img/Badges/docker.svg" />
            </footer>
        </body>
    </article>
</section>

<style>
    .glowRectangle {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.3),
            0 0 60px rgba(255, 255, 255, 0.2),
            0 0 80px rgba(255, 255, 255, 0.1);
    }
    .glowRectangleLite {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.2),
            0 0 40px rgba(255, 255, 255, 0.1),
            0 0 60px rgba(255, 255, 255, 0.05),
            0 0 80px rgba(255, 255, 255, 0.025);
    }
</style>
