---
import Badge from "./Badge.astro";
---

<section class="flex flex-row justify-between pl-36 mt-12 space-x-36">
    <!--Gipfarma -->
    <article
        id="gipfarma"
        onclick="window.open('https://gipfarma.com/', '_blank')"
        class="overflow-y-auto group cursor-pointer select-none h-[65vh] w-auto px-12 flex flex-col my-auto border border-subtitle-text rounded-lg glowRectangleLite bg-white/40 backdrop-blur-xl justify-center font-extralight text-title-text hover:scale-105 transition-transform duration-200"
    >
        <header class="flex flex-col justify-start">
            <h2
                class="font-bold text-xl flex flex-row text-title-text group-hover:text-clstudio-pink transition-all duration-200"
            >
                Co-creador de Gipfarma Analytics - Optimafar
                <span
                    ><img
                        src="/img/icons/arrowLink.svg"
                        class="group-hover:animate-sway transition-transform duration-200 pl-2 h-6"
                    /></span
                >
            </h2>
            <p class="font-medium text-clstudio-black text-lg mt-4">
                Madrid, España | 2022 - 2024
            </p>
        </header>
        <body class="flex flex-col justify-start">
            <p class="font-extralight text-lg text-body-text-lighty mt-4">
                Soy co-creador de Gipfarma Analytics, un innovador software
                desarrollado por Optimafar, diseñado específicamente para
                farmacias y gestorías. Gipfarma nace con el objetivo de
                transformar la gestión de las oficinas de farmacia,
                proporcionando herramientas eficientes que <span
                    class="font-semibold glowText"
                    >optimizan los procesos operativos y administrativos</span
                >.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Este software basado en <span class="font-semibold glowText"
                    >CRM</span
                >, realiza un análisis profundo de varios campos de las
                Farmacias: Ventas, Almacén, Clientes, Contable, RRHH. Además de
                esto, realiza proyecciones y estimaciones y ofrece consejos y
                resultados basándose en un proyecto de negocio totalmente
                configurable. Con una vista amigable, intuitica y muy visual,
                gracias a <span class="font-semibold glowText">ChartJS</span> y
                <span class="font-semibold glowText">TailwindCSS</span> además de
                otras tecnologías y diseños propios, consigue que el usuario pueda
                interacturar de manera sencilla con la aplicación web.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Los resultados de la herramienta son muy positivos y se espera
                que en un futuro siga creciendo y mejorando gracias al feedback
                de los clientes y la constante <span
                    class="font-semibold glowText">innovación</span
                > del equipo manteniendo las últimas tecnologías.
            </p>
            <footer class="flex flex-row justify-start mt-8">
                <Badge
                    title="Colaboración"
                    iconURL="/img/Badges/collaboration.svg"
                />
                <Badge
                    title="JavaScript"
                    iconURL="/img/Badges/javascript.svg"
                />
                <Badge title="AngularJS" iconURL="/img/Badges/angular.svg" />
                <Badge
                    title="TailwindCSS"
                    iconURL="/img/Badges/tailwindcss.svg"
                />
            </footer>
        </body>
    </article>
    <!--Optimafar -->
    <article
        onclick="window.open('https://optimafar.com/', '_blank')"
        class="overflow-y-auto group cursor-pointer select-none h-[65vh] w-auto px-12 flex flex-col my-auto border border-subtitle-text rounded-lg glowRectangleLite bg-white/40 backdrop-blur-xl justify-center font-extralight text-title-text hover:scale-105 transition-transform duration-200"
    >
        <header class="flex flex-col justify-start">
            <h2
                class="font-bold text-base lg:text-xl flex flex-row text-title-text group-hover:text-clstudio-pink transition-all duration-200"
            >
                Desarrollador Web y de Apps Móviles - Optimafar
                <span
                    ><img
                        src="/img/icons/arrowLink.svg"
                        class="group-hover:animate-sway transition-transform duration-200 pl-2 h-6"
                    /></span
                >
            </h2>
            <p class="font-medium text-clstudio-black text-lg mt-4">
                Madrid, España | 2021 - 2024
            </p>
        </header>
        <body class="flex flex-col justify-start overflow-y-scroll">
            <p class="font-extralight text-lg text-body-text-lighty mt-4">
                Como desarrollador web y de aplicaciones móviles, mi trabajo
                diario está lleno de retos y aprendizajes. Utilizo <span
                    class="font-semibold glowText">HTML</span
                >, <span class="font-semibold glowText">CSS</span> y
                <span class="font-semibold glowText">JavaScript</span>
                para crear interfaces web atractivas y funcionales. Me apasiona convertir
                ideas en experiencias digitales.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                En Optimafar he creado tanto interfaces web utilizando
                tecnologías, frameworks o lenguajes tales como: <span
                    class="font-semibold glowText">Astro</span
                >,
                <span class="font-semibold glowText">TailwindCSS</span>, <span
                    class="font-semibold glowText">PHP</span
                >,
                <span class="font-semibold glowText">JS</span>...etc como <span
                    class="font-semibold glowText">Flutter</span
                > y <span class="font-semibold glowText">Dart</span> en el entorno
                de aplicaciones móviles.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Aunque estoy especializado en el <span
                    class="font-semibold glowText">diseño UX/UI</span
                > y el entorno
                <span class="font-semibold glowText">FrontEnd</span>, también he
                tenido la ocasión de trabajar en el entorno
                <span class="font-semibold glowText">Backend</span> con
                <span class="font-semibold glowText">PHP</span>, <span
                    class="font-semibold glowText">RestAPI</span
                > y otros lenguajes y frameworks además de utilizar <span
                    class="font-semibold glowText">MySQL</span
                > y <span class="font-semibold glowText">WindowsSQL Server</span
                > como motores de bases de datos y Google Cloud/Workspace Center
                y Vercel como entorno de de sistemas.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                Gracias a este trabajo puedo investigar y probar las últimas
                tecnologías y aplicarlas en mi día a día además de aprender de
                otras personas y poder seguir <span
                    class="font-semibold glowText"
                    >avanzando en mi carrera como desarrollador</span
                >.
            </p>
            <footer class="flex flex-row justify-start mt-8">
                <Badge
                    title="JavaScript"
                    iconURL="/img/Badges/javascript.svg"
                />
                <Badge title="Flutter" iconURL="/img/Badges/flutter.svg" />
                <Badge title="Frontend" iconURL="/img/Badges/ui.svg" />
                <Badge title="Backend" iconURL="/img/Badges/backend.svg" />
            </footer>
        </body>
    </article>
    <!--Capsula cultura -->
    <article
        onclick="window.open('https://espacio.fundaciontelefonica.com/evento/que-la-fuerza-de-unity-te-acompane-taller-de-creacion-de-videojuegos-i-y-ii/', '_blank')"
        class="overflow-y-auto group cursor-pointer select-none h-[65vh] w-auto px-12 flex flex-col my-auto border border-subtitle-text rounded-lg glowRectangleLite bg-white/40 backdrop-blur-xl justify-center font-extralight text-title-text hover:scale-105 transition-transform duration-200"
    >
        <header class="flex flex-col justify-start">
            <h2
                class="font-bold text-xl flex flex-row text-title-text group-hover:text-clstudio-pink transition-all duration-200"
            >
                Profesor de programación de videojuegos - Fundación Telefónica
                <span
                    ><img
                        src="/img/icons/arrowLink.svg"
                        class="group-hover:animate-sway transition-transform duration-200 pl-2 h-6"
                    /></span
                >
            </h2>
            <p class="font-medium text-clstudio-black text-lg mt-4">
                Madrid, España | 2020 - 2021
            </p>
        </header>
        <body class="flex flex-col justify-start">
            <p class="font-extralight text-lg text-body-text-lighty mt-4">
                Como profesor de programación y diseño de videojuegos en <span
                    class="font-semibold glowText">Fundación Telefónica</span
                >, de mano de <span class="font-semibold glowText"
                    >Cápsula Cultura</span
                >, me enfoqué en desmitificar el proceso de creación de juegos y
                transmitir, a adolescentes de hasta 18 años, lo divertida que
                puede ser la programación y que puede ser para todas las edades
                y gustos, además de impartir habilidades técnicas y de diseño.
                Los cursos, divididos en dos niveles, ofrecían una experiencia
                educativa y divertida que fomentaba la creatividad y el
                pensamiento crítico y el trabajo en equipo.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                En el primer nivel, los estudiantes aprendieron los fundamentos
                de
                <span class="font-semibold glowText">Unity</span> y de la <span
                    class="font-semibold glowText">programación con C#</span
                > y se familiarizan con herramientas esenciales a través de ejercicios
                prácticos. En el segundo nivel, exploramos aspectos más complejos
                sobre la programación creando proyectos colaborativos basados en
                retos centrados en el trabajo peero to peer.
            </p>
            <p class="font-extralight text-lg text-body-text-lighty pt-3">
                El curso se impartió en varios grupos semanales durante varios
                meses hasta que finalmente se tuvieron que cancelar debido a la
                pandemia de Covid-19. Fue la primera oportunidad que tuve de
                poder enseñar programación y fue una experiencia única que me
                gustaría repetir.
            </p>
            <footer class="flex flex-row justify-start mt-8">
                <Badge
                    title="Colaboración"
                    iconURL="/img/Badges/collaboration.svg"
                />
                <Badge
                    title="Comunicación"
                    iconURL="/img/Badges/comunication.svg"
                />
                <Badge title="C#" iconURL="/img/Badges/csharp.svg" />
                <Badge title="Unity" iconURL="/img/Badges/unity.svg" />
            </footer>
        </body>
    </article>
</section>

<style>
    .glowRectangle {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.3),
            0 0 60px rgba(255, 255, 255, 0.2),
            0 0 80px rgba(255, 255, 255, 0.1);
    }
    .glowRectangleLite {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.2),
            0 0 40px rgba(255, 255, 255, 0.1),
            0 0 60px rgba(255, 255, 255, 0.05),
            0 0 80px rgba(255, 255, 255, 0.025);
    }
    .glowText {
        animation-name: glow;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes glow {
        from {
            text-shadow: 0px 0px 1px #cc147f;
        }
        to {
            text-shadow: 0px 0px 2px #cc147f;
        }
    }

    .glowTextWhite {
        animation-name: glowWhite;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    @keyframes glowWhite {
        from {
            text-shadow: 0px 0px 1px #fff;
        }
        to {
            text-shadow: 0px 0px 2px #fff;
        }
    }
</style>
