---
import ProyectModule from "../components/proyectModule.astro";
---

<section id="proyectos" class="py-12 px-12 md:px-24">
    <h2 class="font-light text-4xl text-title-text">03 - Mis proyectos</h2>
    <p class="font-extralight text-xl text-subtitle-text py-2">
        Algunos de mis proyectos favoritos
    </p>
    <div class="flex flex-col justify-center items-center mx-auto w-full mt-12">
        <ProyectModule />
    </div>
    <div class="flex flex-row justify-end w-full h-auto mt-4 group">
        <p class="text-2xl text-title-text font-light">
            Ver proyectos web y apps móviles en Github
        </p>
        <a
            href="https://github.com/CLStudioES"
            target="_blank"
            class="text-clstudio-pink group-hover:translate-x-3 transition-transform duration-150"
            ><img
                src="/img/icons/arrowLink.svg"
                class="group-hover: pl-2 h-8"
            />
        </a>
    </div>
</section>
