---
import SkillsSphere from "../components/skillsSphere.astro";
---

<section id="skills" class="pt-12 px-12 md:px-24">
    <h2 class="font-light text-4xl text-title-text">02 - Soft & Hard Skills</h2>
    <p class="font-extralight text-xl text-subtitle-text py-2">
        Aquí puedes ver un resumen de mis skills.
    </p>
    <!--Hard skills -->
    <div
        class="flex flex-col md:flex-row justify-center items-center mx-auto w-full md:pl-12"
    >
        <div id="hardSkills" class="mx-auto animate-fade-in-up">
            <article
                class="text-white order-2 justify-start items-start md:order-1 md:space-y-4 top-0"
            >
                <h2 class="font-bold text-3xl text-title-text">
                    <span class="text-clstudio-pink">Hard</span> skills
                </h2>
            </article>
            <article class="w-auto mt-4 text-xl md:pr-24 lg:pr-36">
                <p class="text-body-text font-light">
                    A lo largo de mi carrera como <span
                        class="text-clstudio-pink font-semibold"
                        >desarrollador web</span
                    > y de
                    <span class="text-clstudio-pink font-semibold"
                        >aplicaciones móviles</span
                    >, he trabajado con diversas tecnologías y lenguajes de
                    programación. Mi curiosidad me ha llevado a explorar áreas
                    como
                    <span class="text-clstudio-pink font-semibold"
                        >bases de datos</span
                    >, <span class="text-clstudio-pink font-semibold"
                        >desarrollo de videojuegos</span
                    >, <span class="text-clstudio-pink font-semibold"
                        >desarrollo de software para sistemas empotrados</span
                    >...etc, lo que me ha convertido en un profesional más
                    versátil y preparado para los retos del mundo digital,
                    siempre <span class="text-clstudio-pink font-semibold"
                        >dispuesto a seguir aprendiendo</span
                    >.
                </p>
                <p class="text-body-text font-light pt-4">
                    Reprehenderit veniam irure eiusmod amet cupidatat
                    reprehenderit minim enim exercitation magna laboris proident
                    non proident. Culpa eu reprehenderit dolore velit minim
                    irure occaecat ea. Cillum ad amet fugiat ut est occaecat
                    magna voluptate elit nulla ipsum. Ex consequat laborum
                    voluptate adipisicing eiusmod Lorem duis. Laboris esse ea
                    enim enim do laborum. Veniam voluptate nulla reprehenderit
                    consequat sunt amet aute do nostrud elit culpa aute
                    excepteur non. Eu nostrud pariatur veniam tempor sunt.
                </p>
            </article>
        </div>
        <div id="softSkills" class="mx-auto animate-fade-in-up hidden">
            <article
                class="text-white order-2 justify-start items-start md:order-1 md:space-y-4 top-0"
            >
                <h2 class="font-bold text-3xl text-title-text">
                    <span class="text-clstudio-pink">Soft</span> skills
                </h2>
            </article>
            <article class="w-auto mt-4 text-xl md:pr-24 lg:pr-36">
                <p class="text-body-text font-light">
                    A lo largo de mi carrera como <span
                        class="text-clstudio-pink font-semibold"
                        >desarrollador web</span
                    > y de
                    <span class="text-clstudio-pink font-semibold"
                        >aplicaciones móviles</span
                    >, he trabajado con diversas tecnologías y lenguajes de
                    programación. Mi curiosidad me ha llevado a explorar áreas
                    como
                    <span class="text-clstudio-pink font-semibold"
                        >bases de datos</span
                    >, <span class="text-clstudio-pink font-semibold"
                        >desarrollo de videojuegos</span
                    >, <span class="text-clstudio-pink font-semibold"
                        >desarrollo de software para sistemas empotrados</span
                    >...etc, lo que me ha convertido en un profesional más
                    versátil y preparado para los retos del mundo digital,
                    siempre <span class="text-clstudio-pink font-semibold"
                        >dispuesto a seguir aprendiendo</span
                    >.
                </p>
                <p class="text-body-text font-light pt-4">
                    Reprehenderit veniam irure eiusmod amet cupidatat
                    reprehenderit minim enim exercitation magna laboris proident
                    non proident. Culpa eu reprehenderit dolore velit minim
                    irure occaecat ea. Cillum ad amet fugiat ut est occaecat
                    magna voluptate elit nulla ipsum. Ex consequat laborum
                    voluptate adipisicing eiusmod Lorem duis. Laboris esse ea
                    enim enim do laborum. Veniam voluptate nulla reprehenderit
                    consequat sunt amet aute do nostrud elit culpa aute
                    excepteur non. Eu nostrud pariatur veniam tempor sunt.
                </p>
            </article>
        </div>
        <SkillsSphere />
    </div>
    <div class="flex flex-row space-x-4 pl-12">
        <button
            id="hardButton"
            onclick="activateHard()"
            class="border border-clstudio-pink border-opacity-50 rounded-lg glowRectangleLite bg-clstudio-black backdrop-blur-lg px-4 py-2 font-extralight text-title-text flex flex-row justify-center items-center mr-4 hover:scale-105 transition-all duration-200 activatedButton"
            >Hard skills</button
        >
        <button
            id="softButton"
            onclick="activateSoft()"
            class="border border-clstudio-pink border-opacity-50 rounded-lg glowRectangleLite bg-clstudio-black backdrop-blur-lg px-4 py-2 font-extralight text-title-text flex flex-row justify-center items-center mr-4 hover:scale-105 transition-all duration-200"
            >Soft skills</button
        >
    </div>
</section>
<script type="text/javascript">
    const hardSkillsSection = document.getElementById("hardSkills");
    const softSkillsSection = document.getElementById("softSkills");
    const hardButton = document.getElementById("hardButton");
    const softButton = document.getElementById("softButton");

    function activateHard() {
        hardSkillsSection.classList.remove("hidden");
        softSkillsSection.classList.add("hidden");
        hardButton.classList.add("activatedButton");
        softButton.classList.remove("activatedButton");
    }
    function activateSoft() {
        softSkillsSection.classList.remove("hidden");
        hardSkillsSection.classList.add("hidden");
        hardButton.classList.remove("activatedButton");
        softButton.classList.add("activatedButton");
    }
</script>
<style>
    .glowRectangle {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.4),
            0 0 40px rgba(255, 255, 255, 0.3),
            0 0 60px rgba(255, 255, 255, 0.2),
            0 0 80px rgba(255, 255, 255, 0.1);
    }
    .glowRectangleLite {
        box-shadow:
            0 0 20px rgba(255, 255, 255, 0.2),
            0 0 40px rgba(255, 255, 255, 0.1),
            0 0 60px rgba(255, 255, 255, 0.05),
            0 0 80px rgba(255, 255, 255, 0.025);
    }
    .glowRectangleLitePink {
        box-shadow:
            0 0 20px rgba(204, 20, 127, 0.2),
            0 0 40px rgba(204, 20, 127, 0.1),
            0 0 60px rgba(204, 20, 127, 0.05),
            0 0 80px rgba(204, 20, 127, 0.025);
    }
    .activatedButton {
        cursor: not-allowed;
        pointer-events: none;
        background: #cc147f;
    }
</style>
