---
import WorksScrollLeft from "../components/worksScrollLeft.astro";
import WorksScrollRight from "../components/worksScrollRight.astro";
---

<!--https://codepen.io/bibomato/pen/poqYzeq -->
<script>
    const stickySections = [...document.querySelectorAll(".sticky_wrap")];

    window.addEventListener("scroll", (e) => {
        for (let i = 0; i < stickySections.length; i++) {
            transform(stickySections[i]);
        }
    });

    function transform(section) {
        const offsetTop = section.parentElement.offsetTop;

        const scrollSection = section.querySelector(".horizontal_scroll");
        const percentajeScrollLabel = document.getElementById(
            "percentajeScrollLabel",
        );

        let percentage =
            ((window.scrollY - offsetTop) / window.innerHeight) * 100;

        percentage = percentage < 0 ? 0 : percentage > 300 ? 300 : percentage;
        // console.log(percentage);
        percentajeScrollLabel.textContent = `${Math.trunc(percentage / 3)
            .toString()
            .padStart(3, "0")}%`;

        scrollSection.style.transform = `translate3d(${-percentage}vw, 0, 0)`;
    }
</script>
<section id="Works" class="hidden md:flex scroll_container">
    <div class="sticky_wrap">
        <div class="centered-container">
            <span class="centered-text font-semibold" id="percentajeScrollLabel"
                >%</span
            >
        </div>
        <div class="absolute top-[13vh] left-[5vw]">
            <h2 class="font-light text-4xl text-title-text">
                01 - Mi experiencia destacada
            </h2>
            <p class="font-extralight text-xl text-subtitle-text py-2">
                Puedes ver el resto de experiencia laboral en mi <span
                    class="text-clstudio-pink font-semibold">CV</span
                >.
            </p>
        </div>
        <div class="horizontal_scroll justify-around">
            <WorksScrollLeft />
            <WorksScrollRight />
        </div>
        <style>
            .glowRectangle {
                box-shadow:
                    0 0 20px rgba(255, 255, 255, 0.4),
                    0 0 40px rgba(255, 255, 255, 0.3),
                    0 0 60px rgba(255, 255, 255, 0.2),
                    0 0 80px rgba(255, 255, 255, 0.1);
            }
            .glowRectangleLite {
                box-shadow:
                    0 0 20px rgba(255, 255, 255, 0.2),
                    0 0 40px rgba(255, 255, 255, 0.1),
                    0 0 60px rgba(255, 255, 255, 0.05),
                    0 0 80px rgba(255, 255, 255, 0.025);
            }
            * {
                width: 100%;
                scroll-behavior: smooth;
            }
            .scroll_container {
                height: 400vh;
            }
            .sticky_wrap {
                overflow: hidden;
                position: relative;
                position: sticky;
                top: 0;
                height: 100vh;
            }
            .horizontal_scroll {
                position: absolute;
                top: 5vh;
                height: 100%;
                width: 400vw;
                will-change: transform;
                display: flex;
                justify-content: space-between;
            }
            .centered-container {
                position: absolute;
                top: 57%;
                left: 45%;
                transform: translate(-50%, -50%);
                width: 800px;
                height: 400px;
                padding: 20px;
                /* Add other styles as needed */
            }
            .centered-container-front {
                position: absolute;
                top: 92.5%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 150px;
                height: 100px;
                padding: 20px;
                z-index: 10;
                /* Add other styles as needed */
            }
            .container-title-section {
                position: absolute;
                top: 14.5%;
                left: 7.5%;
                transform: translate(-50%, -50%);
                width: 150px;
                height: 100px;
                padding: 20px;
                z-index: 10;
                /* Add other styles as needed */
            }
            .centered-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25rem;
                color: rgb(204, 20, 127);
                z-index: -10;
            }
        </style>
    </div>
</section>
