---
import WorksScrollLeft from "../components/worksScrollLeft.astro";
import WorksScrollRight from "../components/worksScrollRight.astro";
---

<!--https://codepen.io/bibomato/pen/poqYzeq -->
<script>
    const stickySections = [...document.querySelectorAll(".sticky_wrap")];

    window.addEventListener("scroll", (e) => {
        for (let i = 0; i < stickySections.length; i++) {
            transform(stickySections[i]);
        }
    });

    function transform(section) {
        const offsetTop = section.parentElement.offsetTop;

        const scrollSection = section.querySelector(".horizontal_scroll");
        const percentajeScrollLabel = document.getElementById(
            "percentajeScrollLabel",
        );

        let percentage =
            ((window.scrollY - offsetTop) / window.innerHeight) * 100;

        percentage = percentage < 0 ? 0 : percentage > 300 ? 300 : percentage;
        // console.log(percentage);
        percentajeScrollLabel.textContent = `${Math.trunc(percentage / 3)}%`;

        scrollSection.style.transform = `translate3d(${-percentage}vw, 0, 0)`;
    }
</script>
<div class="hidden md:flex scroll_container">
    <div class="sticky_wrap">
        <div class="centered-container">
            <span class="centered-text font-semibold" id="percentajeScrollLabel"
                >%</span
            >
        </div>
        <div class="horizontal_scroll">
            <WorksScrollLeft />
            <WorksScrollRight />
        </div>
    </div>
    <!-- <div class="container h-24 w-screen bg-white text-black">
        <span class="text-4xl" id="percentajeScrollLabel">Hola</span>
    </div> -->
    <style>
        * {
            width: 100%;
            scroll-behavior: smooth;
        }
        .scroll_container {
            height: 400vh;
        }
        .sticky_wrap {
            overflow: hidden;
            position: relative;
            position: sticky;
            top: 0;
            height: 100vh;
        }
        .horizontal_scroll {
            position: absolute;
            top: 0;
            height: 100%;
            width: 400vw;
            will-change: transform;
            display: flex;
            justify-content: space-between;
        }
        .centered-container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 800px;
            height: 400px;
            padding: 20px;
            /* Add other styles as needed */
        }
        .centered-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 25rem;
            color: rgb(204, 20, 127);
            z-index: -10;
        }
    </style>
</div>
